<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
        <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="Profile" class="rounded-circle">
        <h4>Kevin Anderson</h4>
    </div>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ url_for('index') }}">
                <i class="bi bi-grid"></i>
                <span>Home</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#projects-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-stack"></i><span>Projects</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="projects-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="project1.html">
                        <i class="bi bi-circle"></i><span>Project 1</span>
                    </a>
                </li>
                <li>
                    <a href="project2.html">
                        <i class="bi bi-circle"></i><span>Project 2</span>
                    </a>
                </li>
                <li>
                    <a href="project3.html">
                        <i class="bi bi-circle"></i><span>Project 3</span>
                    </a>
                </li>
                <li>
                    <a href="project4.html">
                        <i class="bi bi-circle"></i><span>Project 4</span>
                    </a>
                </li>
                <li>
                    <a href="project5.html">
                        <i class="bi bi-circle"></i><span>Project 5</span>
                    </a>
                </li>
                <li>
                    <a href="project6.html">
                        <i class="bi bi-circle"></i><span>Project 6</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Projects Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#employees-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i><span>Employees</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="employees-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="employee1.html">
                        <i class="bi bi-circle"></i><span>Employee 1</span>
                    </a>
                </li>
                <li>
                    <a href="employee2.html">
                        <i class="bi bi-circle"></i><span>Employee 2</span>
                    </a>
                </li>
                <li>
                    <a href="employee3.html">
                        <i class="bi bi-circle"></i><span>Employee 3</span>
                    </a>
                </li>
                <li>
                    <a href="employee4.html">
                        <i class="bi bi-circle"></i><span>Employee 4</span>
                    </a>
                </li>
                <li>
                    <a href="employee5.html">
                        <i class="bi bi-circle"></i><span>Employee 5</span>
                    </a>
                </li>
                <li>
                    <a href="employee6.html">
                        <i class="bi bi-circle"></i><span>Employee 6</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Employees Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="contact.html">
                <i class="bi bi-envelope"></i>
                <span>Contact Us </span>
            </a>
        </li><!-- End Contact Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="logout.html">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Logout Nav -->
    </ul>
</aside><!-- End Sidebar -->
